.footer {
  flex: none;
  background-color: var(--bg-accent-color);
  color: var(--text-accent-color);
  padding-bottom: 1em;

  &__wrap {
    @extend %main-width;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
  }

  &__author {
    margin: 0.5em 0 0.5em auto;
    color: var(--text-accent-secondary-color);
    font-size: clamp(0.875rem, 0.743rem + 0.5634vw, 1.25rem);
    text-align: right;
  }

  &__link {
    text-underline-position: under;
  }
}
