.footer {
  flex: none;
  background-color: var(--bg-accent-color);
  color: var(--text-accent-color);
  padding-bottom: 1em;

  &__wrap {
    @extend %main-width;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
  }

  &__author {
    flex: auto;
    color: var(--text-accent-secondary-color);
    font-size: 1em;
    line-height: 2;
    text-align: center;

    @include media(sm) {
      margin: 0.5em 0 0.5em auto;
      text-align: right;
    }
  }

  &__link {
    text-underline-position: under;
  }
}
